body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppings-Light";
}

@font-face {
  font-family: "Poppings-Medium";
  src: url("./assets/fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "Poppings-Regular";
  src: url("./assets/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Poppings-Light";
  src: url("./assets/fonts/Poppins-Light.otf");
}

svg:hover {
  cursor: pointer;
}
